<div class="card">
  <div class="card-header">
    <h1>Planning des missions</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <label class="text">Sélection Agent</label>
        <select
          class="form-control"
          [(ngModel)]="agentId"
          (change)="changeAgent()"
        >
        <option value="" disabled selected>Choisissez un agent...</option>
          <option *ngFor="let p of personnes" [value]="p.id">
            {{ p.nom?.toUpperCase() }} {{ p.prenoms?.toUpperCase() }}
          </option>
        </select>
      </div>
      <div class="col-md-5">
        <img
          *ngIf="agent !== undefined"
          src="assets/img/{{ agent.photo }}"
          width="300px"
        />
      </div>
      <div *ngIf="agent!=undefined" class="offset-md-3 col-md-2">
        <button class="btn btn-info" type="button" (click)="AjoutEtModification(undefined)"> Ajouter</button>
        <button class="btn btn-success" type="button" (click)="modifier()"> Sauvegarder</button>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-12">
          <full-calendar [options]="calendarOptions" class="calendar"></full-calendar>
      </div>
    </div>
  </div>
</div>
