.calendar{
  height: 600px;
}
.tooltip {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.tooltip.show {
  display: block;
}
