@import "~bootstrap/scss/bootstrap";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ebecf1;
}
.cdk-overlay-container {
  z-index: 9999 !important;
}
.cdk-overlay-pane {
  width: auto;
}
.mat-autocomplete-panel {
  background: #ffffff;
}
.my-dialog-class {
  background-color: #ffffff;
}

.btn{
    border-width: 2px ;
    border: none;
    margin:10px 1px;
    border-radius: 0.1875rem;
    padding: 11px 22px;
    cursor: pointer;
}

.form-control {
  background-color: transparent;
  border: 1px solid #e3e3e3;
  color: #2c2c2c;
  line-height: normal;
  font-size: 0.8571em;
  height: auto;
}

.card-header{
  text-align: center;
}


.btn-success{
  background-color: #10733b !important;
  color: white;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.btn-error{
  background-color:red!important;
  color: white;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.btn-info{
  background-color:rgb(0, 213, 255)!important;
  color: white;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
