<div class="modal-header">
  <div class="row">
    <div  class="offset-md-11 col-md-1">
      <button type="button" class="close" aria-label="Close" (click)="retour()">
        <span aria-hidden="true">&times;</span>
      </button>

</div>
<div class="modal-body">
  <div class="main-content">
    <div class="row">
      <div *ngIf="libelle!='Ajouter'" class="offset-md-10 col-md-2">
        <button
      type="button"
      class="btn btn-error"
      (click)="delete()"
    >
      Supprimer
    </button>
      </div>
      <div class="col-md-3">
        <label class="text-info">
          Titre
        </label>
        <input [(ngModel)]="titre" type="text" class="form-control" />
      </div>
      <div class="col-md-3">
        <label class="text-info">
          Couleur
        </label>
        <input [(ngModel)]="couleur" type="color" class="form-control" />
      </div>
      <div class="col-md-3">
        <label class="text-info">
          Début
        </label>
        <input [(ngModel)]="debut" type="datetime-local" class="form-control" />
      </div>
      <div class="col-md-3">
        <label class="text-info">
          Fin
        </label>
        <input [(ngModel)]="fin" type="datetime-local" class="form-control" />
      </div>
      <div class="col-md-12">
        <label class="text-info">
          Description
        </label>
        <input [(ngModel)]="description" type="text" class="form-control" />
      </div>
      <div *ngIf="error==1" class="col-md-12">
        <label class="red">
          Tous les champs sont obligatoires!
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="missionAddOrModif()"
    >
      {{libelle}}
    </button>
  </div>
</div>
